a {
    text-decoration: none; 
    color: rgb(37, 37, 37); 
}
Link{
  text-decoration: none; 
    color: rgb(37, 37, 37); 
}

header {
    border-bottom: 1px solid grey; 
}
.bordering{
    border-radius: 10px;
    background-color: white;
    border: 1px solid rgb(219, 219, 219);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.farm-bordering{
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(219, 219, 219);
}

.field-scroller {
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.field-scroller::-webkit-scrollbar {
  display: none; 
}
.farms{
  cursor: pointer;
}
.fieldoverview {
  height: 400px; /* Adjust the height to your preference */
  overflow: hidden; /* Prevents any overflow */
}

.fieldoverview > div {
  height: 100%; /* Ensures the map div takes full height of the parent */
  width: 100%; /* Ensures the map div takes full width of the parent */
}
